.content {
  min-height: calc(100vh - 220px);
}
.footer {
  height: 50px;
}
.titile {
  font-size: 45px;
  color: #ffffff;
  display: inline-block;
  line-height: 45px;
  vertical-align: -10px
}
.header {
  background: #337AB7;
  padding: 0 5px;
  margin: 5px;
}
.toolbar {
  padding: 0;
}
.playerArea {
  padding: 0 24px;
  height: calc(70vh - 55px);
  background: #ffffff;
}