.card {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-weight: bold;
  color: white;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
  /**禁止用户选择文本**/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 100px/220px Georgia, serif;
}

.cardInHand:hover {
  transform: scale(1.1);
  transition: transform 100ms ease-in-out;
}

.cardInHand {
  display: inline-block;
}

.cardContainer {
  transition: transform 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  will-change: transform;
  cursor: pointer;
  text-align: center;
}

.smallCardId {
  position: absolute;
  bottom: 20;
  left: 6px;
  font-size: 20px;
  font: Georgia, serif;
  color: white;
   /**禁止用户选择文本**/
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.cardFace .playerVote {
  position: relative;
  padding-top: 40px;
  font-size: 45px;
  color: white;
   /**禁止用户选择文本**/
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
